.hero-list {
  width: 1140px;
  margin: 36px auto;
  list-style: none;
  text-align: center;
  padding: 0;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(10, 87px);
  grid-row-gap: 34px;
  grid-column-gap: 30px;
  & a {
    color: #363636;
    text-decoration: none;
  }
  & p {
    margin: 0;
  }
  & img {
    width: 87px;
    height: 87px;
    display: block;
    border: 2px solid #258df2;
    border-radius: 10px 0 10px 0;
    box-sizing: border-box;
  }
}
